.generic-component-module-info {
    background-color: orange;
    height: 25%;
    display: grid;
}

.module-info {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-computer {
    /* background-color: aqua; */
    width: 50%;
    display: flex; /* Alineación del ícono */
    justify-content: left; /* Centramos el ícono horizontalmente */
    align-items: center; /* Centramos el ícono verticalmente */
}
  .icon-computer i {
    /* background-color: blue; */
    color: white;
    font-size: 65px; 
}

.module { 
    /* background-color: green; */
    width: 50%; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end; /* Alinea los elementos hijos horizontalmente a la derecha */
    justify-content: center; 
    gap: 7px;
}
.module p {
    margin: 0;
}

.module-name {
    /* background-color: blueviolet; */
    color: white;
    font-size: 15px;
}
.module-num {
    /* background-color: chartreuse; */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
}